body {
    text-align: center;
    background-image: url("https://www.teahub.io/photos/full/128-1285701_collection-of-best-wallpaper-backgrounds-on-hdwallpapers-light.jpg");

}

img {

    margin-top: 100px;
    margin-left: 490px;
    border: 5px solid;
    border-radius: 90px;
    height: 125px;
    object-fit: cover;
}


h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 20px;
    color: white;
}


p {
    font-size: 18px;
    color: white;


}

h2 {
    font-size: 20px;
    color: white;
}

.line {
    height: 6px;
    background-color: white;
    width: 70px;
    margin: 8px auto;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: white;
}

.link {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.link:hover {
    background-color: lightsalmon;
    font-size: 18px;
    color: white;
}
